<head>
    <style>
        .row { color: #ffffff; }
    </style>
</head>
<div class="row">
     <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img src="../../../assets/mariano.png" class="img fluid"  id="fotodeperfil"/>
      </div>
   <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">{{persona.nombre}} {{persona.apellido}} </p>
    <p> Full Stack Developer Jr</p>
   </div>
   <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span> 
        <h1 class="acerca">Acerca de mi</h1>
            <p class="text">
        Estudiante de la facultad de ciencias exactas, ingenieria y agrimensura. (FCEIA)</p>
        <p>Carrera: Profesorado en matemática</p>
        <p>Me encuentro en la busqueda de un trabajo sobre el ambito de la informatica para ampliar mis conocimientos aprendidos en este portfolio </p>

    </span>
   </div>
</div>