head{
    width: 100%;
    height: 500px;
}
.row{
    padding:50px;
    width: auto;
    background-color: #000000;
}
div{
    background-color: #025b15 ;
    text-align: center;
    box-shadow: 2px -5px 10px #05721d ;
}
.acerca{  
          text-align: center;
    
        }
    .text{
        text-align: justify;
        text-align: center;
    }
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
    font-weight: 100;
}
/*Estilo de foto de perfil*/
@media (min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 13%;
        border-radius: 100%;
        box-shadow: 3px 5px 3px rgb(255, 255, 255);
        left: 4%;
        top: 650px;
    }
}
@media (max-width: 575px){
    #fotodeperfil{
        position: absolute;
        width: 25%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px cornflowerblue;
        left: 35%;
        top: 730px;
    }
}
/*Etiqueta nombre*/ 
#nombre{
    font-weight: bold;
    margin-top: 10%;
    margin-left: 10px;
    letter-spacing: normal;
}