<head>
  <style>
      .row { color: #ffffff; }
  </style>
</head>
<div class="row">
  <h1> Habilidades </h1>
  <div class=" next-center col-sm-4 col-md-4 col-lg-4"><circle-progress
    [percent]="90"
    [radius]="100"
    [title]="'HTML'"
    [titleColor]="'orange'"
    [titleFontSize]="'50px'"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'orange'"
    [innerStrokeColor]="'black'"
    [animation]="true"
    [animationDuration]="700"
  ></circle-progress></div>
  <div class=" next-center col-sm-4 col-md-4 col-lg-4"><circle-progress
    [percent]="77"
    [radius]="100"
    [title]="'CSS'"
    [titleColor]="'blue'"
    [titleFontSize]="'50px'"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'blue'"
    [innerStrokeColor]="'black'"
    [animation]="true"
    [animationDuration]="700"
  ></circle-progress></div>
  <div class=" next-center col-sm-4 col-md-4 col-lg-4"><circle-progress
    [percent]="90"
    [radius]="100"
    [title]="'JS'"
    [titleColor]="'yellow'"
    [titleFontSize]="'50px'"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'yellow'"
    [innerStrokeColor]="'black'"
    [animation]="true"
    [animationDuration]="700"
  ></circle-progress></div>
  <div class=" next-center col-sm-4 col-md-4 col-lg-4"><circle-progress
    [percent]="60"
    [radius]="100"
    [title]="'GITHUB'"
    [titleColor]="'#19f8ed'"
    [titleFontSize]="'30px'"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#19f8ed'"
    [innerStrokeColor]="'black'"
    [animation]="true"
    [animationDuration]="700"
  ></circle-progress></div>
  <div class=" next-center col-sm-4 col-md-4 col-lg-4"><circle-progress
    [percent]="70"
    [radius]="100"
    [title]="'Inglés'"
    [titleColor]="'green'"
    [titleFontSize]="'50px'"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'green'"
    [innerStrokeColor]="'black'"
    [animation]="true"
    [animationDuration]="700"
  ></circle-progress></div>
  <div class=" next-center col-sm-4 col-md-4 col-lg-4"><circle-progress
    [percent]="85"
    [radius]="100"
    [title]="'Trabajo en equipo'"
    [titleColor]="'#9419f8'"
    [titleFontSize]="'20px'"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#9419f8'"
    [innerStrokeColor]="'black'"
    [animation]="true"
    [animationDuration]="700"
  ></circle-progress></div>
</div>