<head>
  <style>
      .row { color: #ffffff; }
  </style>
</head>
<div class="row">
  <h1> Habilidades </h1>
  <div class=" next-center col-sm-4 col-md-4 col-lg-4"><circle-progress
    [percent]="90"
    [radius]="100"
    [imageSrc]="'../assets/HTML.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'orange'"
    [innerStrokeColor]="'white'"
    [animation]="true"
    [animationDuration]="700"
  ></circle-progress></div>
  <div class=" next-center col-sm-4 col-md-4 col-lg-4"><circle-progress
    [percent]="77"
    [radius]="100"
    [imageSrc]="'../assets/CSS.png'"
    [showImage]="true"
    [imageHeight]="110"
    [imageWidth]="100"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'blue'"
    [innerStrokeColor]="'white'"
    [animation]="true"
    [animationDuration]="700"
  ></circle-progress></div>
  <div class=" next-center col-sm-4 col-md-4 col-lg-4"><circle-progress
    [percent]="90"
    [radius]="100"
    [imageSrc]="'../assets/JS.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'yellow'"
    [innerStrokeColor]="'white'"
    [animation]="true"
    [animationDuration]="700"
  ></circle-progress></div>
  <div class=" next-center col-sm-4 col-md-4 col-lg-4"><circle-progress
    [percent]="60"
    [radius]="100"
    [imageSrc]="'../assets/github.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#19f8ed'"
    [innerStrokeColor]="'white'"
    [animation]="true"
    [animationDuration]="700"
  ></circle-progress></div>
  <div class=" next-center col-sm-4 col-md-4 col-lg-4"><circle-progress
    [percent]="70"
    [radius]="100"
    [imageSrc]="'../assets/ingles.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#ffe204'"
    [innerStrokeColor]="'white'"
    [animation]="true"
    [animationDuration]="700"
  ></circle-progress></div>
  <div class=" next-center col-sm-4 col-md-4 col-lg-4"><circle-progress
    [percent]="85"
    [radius]="100"
    [imageSrc]="'../assets/trabajo.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'red'"
    [innerStrokeColor]="'white'"
    [animation]="true"
    [animationDuration]="700"
  ></circle-progress></div>
</div>