<head>
    <style>
        .row{ color: #ffffff; }
    </style>
</head>
<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo uno</h1> - <h3>(Años)</h3>
                <p>
            Completar!</p>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Trabajo dos</h1> - <h3>(Años)</h3>
                <p>
                    Completar!</p>
            </li>
        </ul>
    </div>
</div>
