.gradient-custom {
    height: auto;
    width: auto;
    /* fallback for old browsers */
    background: #34e108;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(7, 236, 129, 0.655), rgba(0, 252, 63, 0.63));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(35, 239, 137), rgb(7, 226, 87))
    }