.container{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
}
#logoAP{
    width: 150px;
    margin-right: 700px;
}
img{
    width: 50px;
    margin-top: 25px;
}