<head>
    <style>
        .row{ color: #ffffff; }
    </style>
</head>
<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Secundario completo</h1> - <h3>6 años</h3>
                <p>Institución: E.E.T.P Nº346 "Juan A. Alvarez de Arenales"
                     <p>
                    <p>Titulo obtenido: Técnico en administración y gestión organizacional</p>
                    <h3>Finalizado en diciembre 2021</h3>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Argentina Programa</h1> - <h3>10 meses</h3>
                <p>
                   Introducción a la programación en la primera etapa (#Seprogramar) que duró 3 meses, donde se aprendió:</p>
                <p>Gobstone, JavaScript y Ruby.</p> <h3>Finalizado en Diciembre 2021</h3>
                <p></p>
                <p>Segunda etapa (#Yoprogramo)  donde se armó este portfolio, esta etapa duró 7 meses y consta de 9 modulos para: </p>
                <p>Armar el frontend, backend, base de datos.</p><h3>Finalizado en Agosto 2022</h3>
            </li>
        </ul>
    </div>
</div>

